brotlipy==0.7.0
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1762976168352/work/certifi
cf_xarray @ file:///home/conda/feedstock_root/build_artifacts/cf_xarray_1721212489294/work
cffi @ file:///croot/cffi_1670423208954/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
conda==22.11.1
conda-content-trust @ file:///tmp/abs_5952f1c8-355c-4855-ad2e-538535021ba5h26t22e5/croots/recipe/conda-content-trust_1658126371814/work
conda-package-handling @ file:///croot/conda-package-handling_1666940373510/work
cryptography @ file:///croot/cryptography_1665612644927/work
esmpy @ file:///home/conda/feedstock_root/build_artifacts/esmpy_1755187412064/work/src/addon/esmpy
idna @ file:///croot/idna_1666125576474/work
llvmlite==0.46.0
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1765466523583/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1747544640217/work/dist/numpy-2.2.6-cp310-cp310-linux_x86_64.whl#sha256=d6d964caeef85d00073d27cd62b46883d275b3d8162f723f0fcabbd0b3cc3f9d
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1726878398774/work
pluggy @ file:///tmp/build/80754af9/pluggy_1648024709248/work
pycosat @ file:///croot/pycosat_1666805502580/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
requests @ file:///opt/conda/conda-bld/requests_1657734628632/work
ruamel.yaml @ file:///croot/ruamel.yaml_1666304550667/work
ruamel.yaml.clib @ file:///croot/ruamel.yaml.clib_1666302247304/work
shapely @ file:///home/conda/feedstock_root/build_artifacts/shapely_1762523487605/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sparse @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_sparse_1747799051/work
toolz @ file:///croot/toolz_1667464077321/work
tqdm @ file:///opt/conda/conda-bld/tqdm_1664392687731/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1765719872007/work
urllib3 @ file:///croot/urllib3_1670526988650/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1749743207754/work
xesmf @ file:///home/conda/feedstock_root/build_artifacts/xesmf_1745948427979/work
